

h1{
  font-family: Playfair Display, serif;
  font-size: 24px;
  text-align: center;
  height: 50px;
  background-color: rgba(3, 128, 128, 0.1)
}


h2{
  font-family: Lobster; 
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

p{
  text-align: right;
}
.fullCard {

  border: 3px solid rgb(107, 107, 107);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  width: px;
}
.cardContent {
  padding: 10px;
}


.fixed-image{
  width: 50%;
  padding: 24px;
}
.fixed-image img {
  width: 100%;
  height: auto;
}

body.rounded img {
  border-radius: 24px;
  filter: grayscale(100%) contrast(150%);
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}