

h1{
  font-family: Playfair Display, serif;
  font-size: xx-large;
  text-align: center;
  height: 50px;
  background-color: rgba(3, 128, 128, 0.1)
}


h2{
  font-family: Lobster; 
  font-size: xx-large;
  text-align: justify;
}

p{
  text-align: right;
}
.fullCard {

  border: 3px solid rgb(107, 107, 107);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  width: px;
}
.cardContent {
  padding: 10px;
}


.fixed-image{
  width: 500px;
    height: auto;
}


#ball {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc
  );
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}