

h1{
  font-family: Playfair Display, serif;
  font-size: xx-large;
  text-align: center;
  height: 50px;
  background-color: rgba(3, 128, 128, 0.1)
}


h2{
  font-family: Lobster; 
  font-size: xx-large;
  text-align: justify;
}

p{
  text-align: right;
}
.fullCard {

  border: 3px solid rgb(107, 107, 107);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  width: px;
}
.cardContent {
  padding: 10px;
}


.fixed-image{
  width: 500px;
    height: auto;
}
